@import "../../scss/libs/_variables";

.root {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .category {
    display: block;
    padding: 10px;
    color: $black-font-color;
    cursor: pointer;
  }

  .active {
    padding: 10px;
    border-bottom: 2px solid $font-color;
    color: $font-color;
    cursor: pointer;
  }
}
